<div class="container mt-5">
  <h2 class="mb-4 title">Área de Trabajo del Recepcionista</h2>
  
  <!-- Formulario para Crear Reserva -->
  <div class="card mb-4 shadow-sm card-border">
    <div class="card-body">
      <h4 class="subtitle">Agregar Nueva Reserva</h4>
      <form (ngSubmit)="createReserva()">
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="cliente" class="form-label text-dark">Cliente</label>
            <select class="form-control" id="cliente" [(ngModel)]="newReserva.cliente" name="cliente" required>
              <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{ cliente.nombre }} {{ cliente.apellido }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="empleado" class="form-label text-dark">Empleado</label>
            <select class="form-control" id="empleado" [(ngModel)]="newReserva.empleado" name="empleado" required>
              <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{ empleado.nombre }} {{ empleado.apellido }}</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="fechaReserva" class="form-label text-dark">Fecha y Hora</label>
            <input type="datetime-local" class="form-control" id="fechaReserva" [(ngModel)]="newReserva.fechaReserva" name="fechaReserva" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="servicio" class="form-label text-dark">Servicio</label>
            <select class="form-control" id="servicio" [(ngModel)]="newReserva.servicio" name="servicio" required>
              <option value="ANTI_STRESS">Anti-stress</option>
              <option value="DESCONTRACTURANTE">Descontracturantes</option>
              <option value="PIEDRAS_CALIENTES">Masajes con Piedras Calientes</option>
              <option value="CIRCULATORIO">Circulatorios</option>
              <option value="LIFTING_PESTANAS">Lifting de Pestañas</option>
              <option value="DEPILACION_FACIAL">Depilación Facial</option>
              <option value="BELLEZA_MANOS_PIES">Belleza de Manos y Pies</option>
              <option value="PUNTA_DIAMANTE">Punta de Diamante</option>
              <option value="LIMPIEZA_PROFUNDA">Limpieza Profunda + Hidratación</option>
              <option value="CRIO_FRECUENCIA_FACIAL">Crio Frecuencia Facial</option>
              <option value="VELASLIM">VelaSlim</option>
              <option value="DERMOHEALTH">DermoHealth</option>
              <option value="CRIOFRECUENCIA">Criofrecuencia</option>
              <option value="ULTRACAVITACION">Ultracavitación</option>
              <option value="HIDROMASAJES">Hidromasajes</option>
              <option value="YOGA">Yoga</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="status" class="form-label text-dark">Estado</label>
            <select class="form-control" id="status" [(ngModel)]="newReserva.status" name="status" required>
              <option value="PENDIENTE">Pendiente</option>
              <option value="CONFIRMADA">Confirmada</option>
              <option value="CANCELADA">Cancelada</option>
              <option value="COMPLETADA">Completada</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-custom">Agregar Reserva</button>
      </form>
    </div>
  </div>

  <!-- Lista de Reservas -->
  <h4 class="subtitle">Reservas Realizadas</h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-header">
        <tr>
          <th class="text-dark">ID</th>
          <th class="text-dark">Cliente</th>
          <th class="text-dark">Correo del Cliente</th>
          <th class="text-dark">Empleado</th>
          <th class="text-dark">Fecha de Reserva</th>
          <th class="text-dark">Servicio</th>
          <th class="text-dark">Estado</th>
          <th class="text-dark">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td class="text-dark">{{ reserva.id }}</td>
          <td class="text-dark">{{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</td>
          <td class="text-dark">{{ reserva.cliente.email }}</td>
          <td class="text-dark">{{ reserva.empleado.nombre }} {{ reserva.empleado.apellido }}</td>
          <td class="text-dark">{{ reserva.fechaReserva | date:'medium' }}</td>
          <td class="text-dark">{{ reserva.servicio }}</td>
          <td class="text-dark">{{ reserva.status }}</td>
          <td>
            <button class="btn btn-sm btn-warning-custom me-2" (click)="editReserva(reserva)" data-bs-toggle="modal" data-bs-target="#editReservaModal">Editar</button>
            <button class="btn btn-sm btn-danger-custom" (click)="deleteReserva(reserva.id)">Eliminar</button>
          </td>
        </tr>
        <tr *ngIf="reservas.length === 0">
          <td colspan="8" class="text-center text-dark">No hay reservas disponibles.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal para Editar Reserva -->
  <div class="modal fade" id="editReservaModal" tabindex="-1" aria-labelledby="editReservaModalLabel" aria-hidden="true" *ngIf="editingReserva">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title subtitle" id="editReservaModalLabel">Editar Reserva</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateReserva()">
            <div class="mb-3">
              <label for="editCliente" class="form-label text-dark">Cliente</label>
              <select class="form-control" id="editCliente" [(ngModel)]="editingReserva.cliente" name="editCliente" required>
                <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{ cliente.nombre }} {{ cliente.apellido }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="editEmpleado" class="form-label text-dark">Empleado</label>
              <select class="form-control" id="editEmpleado" [(ngModel)]="editingReserva.empleado" name="editEmpleado" required>
                <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{ empleado.nombre }} {{ empleado.apellido }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="editFechaReserva" class="form-label text-dark">Fecha y Hora</label>
              <input type="datetime-local" class="form-control" id="editFechaReserva" [(ngModel)]="editingReserva.fechaReserva" name="editFechaReserva" required>
            </div>
            <div class="mb-3">
              <label for="editServicio" class="form-label text-dark">Servicio</label>
              <select class="form-control" id="editServicio" [(ngModel)]="editingReserva.servicio" name="editServicio" required>
                <option value="ANTI_STRESS">Anti-stress</option>
                <option value="DESCONTRACTURANTE">Descontracturantes</option>
                <option value="PIEDRAS_CALIENTES">Masajes con Piedras Calientes</option>
                <option value="CIRCULATORIO">Circulatorios</option>
                <option value="LIFTING_PESTANAS">Lifting de Pestañas</option>
                <option value="DEPILACION_FACIAL">Depilación Facial</option>
                <option value="BELLEZA_MANOS_PIES">Belleza de Manos y Pies</option>
                <option value="PUNTA_DIAMANTE">Punta de Diamante</option>
                <option value="LIMPIEZA_PROFUNDA">Limpieza Profunda + Hidratación</option>
                <option value="CRIO_FRECUENCIA_FACIAL">Crio Frecuencia Facial</option>
                <option value="VELASLIM">VelaSlim</option>
                <option value="DERMOHEALTH">DermoHealth</option>
                <option value="CRIOFRECUENCIA">Criofrecuencia</option>
                <option value="ULTRACAVITACION">Ultracavitación</option>
                <option value="HIDROMASAJES">Hidromasajes</option>
                <option value="YOGA">Yoga</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="editStatus" class="form-label text-dark">Estado</label>
              <select class="form-control" id="editStatus" [(ngModel)]="editingReserva.status" name="editStatus" required>
                <option value="PENDIENTE">Pendiente</option>
                <option value="CONFIRMADA">Confirmada</option>
                <option value="CANCELADA">Cancelada</option>
                <option value="COMPLETADA">Completada</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-custom w-100">Actualizar Reserva</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary-custom" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>