<div class="container mt-5">
  <h2 class="mb-4 title">Área de Trabajo del Recepcionista</h2>
  <h4 class="subtitle">Reservas Realizadas</h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-header">
        <tr>
          <th class="text-dark">ID</th>
          <th class="text-dark">Cliente</th>
          <th class="text-dark">Correo del Cliente</th>
          <th class="text-dark">Empleado</th>
          <th class="text-dark">Fecha de Reserva</th>
          <th class="text-dark">Servicio</th>
          <th class="text-dark">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td class="text-dark">{{ reserva.id }}</td>
          <td class="text-dark">{{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</td>
          <td class="text-dark">{{ reserva.cliente.email }}</td>
          <td class="text-dark">{{ reserva.empleado.nombre }} {{ reserva.empleado.apellido }}</td>
          <td class="text-dark">{{ reserva.fechaReserva | date:'medium' }}</td>
          <td class="text-dark">{{ reserva.servicio }}</td>
          <td class="text-dark">{{ reserva.status }}</td>
        </tr>
        <tr *ngIf="reservas.length === 0">
          <td colspan="7" class="text-center text-dark">No hay reservas disponibles.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>