<div class="container">
  <h2>Realizar Reserva</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Crear Nueva Reserva</h5>
      <form (ngSubmit)="hacerReserva()">
        <div class="mb-3">
          <label for="servicio" class="form-label">Servicio</label>
          <select class="form-select" id="servicio" [(ngModel)]="servicio" name="servicio" required>
            <option value="" disabled>Seleccione un servicio</option>
            <option *ngFor="let servicio of serviciosList" [value]="servicio.enum">
              {{ servicio.nombre }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="fechaReserva" class="form-label">Fecha y Hora</label>
          <input type="datetime-local" class="form-control" id="fechaReserva" [(ngModel)]="fechaReserva" name="fechaReserva" required>
        </div>
        <div class="mb-3">
          <label for="empleadoId" class="form-label">Seleccionar Empleado</label>
          <select class="form-select" id="empleadoId" [(ngModel)]="empleadoId" name="empleadoId" required>
            <option value="" disabled selected>Seleccione un empleado</option>
            <option *ngFor="let empleado of empleadosDisponibles" [value]="empleado.id">
              {{ empleado.nombre }} {{ empleado.apellido }}
            </option>
          </select>
          <!-- Mostrar un mensaje si no hay empleados disponibles -->
          <div *ngIf="empleadosDisponibles.length === 0" class="text-danger mt-2">
            No hay empleados disponibles en este momento.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!fechaReserva || !empleadoId || !servicio">
          Crear Reserva
        </button>
      </form>
    </div>
  </div>
</div>